.form{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 100px;
    .label{
        display: flex;
        flex-direction: column;
        input{
            border-radius: 5px;
            width: 250px;
            height: 45px;
            outline: none;
            border: 1px solid black;
        }
    }
    .btn{
        margin-top: 20px;
        input{
            border-radius: 5px;
            width: 120px;
            height: 43px;
            cursor: pointer;               
            transition: 0.5s;
            border: none;
            margin: 20px;
            background-color:  #6e83b1;

        }
        input:hover{
            transition: 0.5s;
            transform: scale(1.05);

        }
    }

}